@import url('/fonts/DIN Round Pro/index.css');

body {
  font-family: 'DinRoundPro', sans-serif;
}

/* Utility: hide scrollbar while allowing scroll */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
  width: 0;
  height: 0;
}
