.stats {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  width: 312px;
  height: 100vh;
  right: 0;
  top: 0;
  padding-right: 24px;
}

.stats .heading {
  align-self: stretch;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60px;
}

.stats .frame-9 {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  left: -864px;
  position: relative;
  width: 1152px;
}

.stats .frame-10 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 15px 6px;
  position: relative;
}

.stats .fire {
  aspect-ratio: 1;
  height: 36px;

  position: relative;
  width: 36px;
}

.stats .text-wrapper-12 {

  color: #ff8818;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 10px;
}

.stats .frame-11 {
  height: 36px;
  position: relative;
  width: 36px;
}

.stats .text-wrapper-13 {

  color: #fff600;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 10px;
}

.stats .div-2 {
  align-self: stretch;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 12px;
  min-height: 48px;
  overflow: hidden;
  position: relative;
  width: 100% -48px;
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
}

.stats .label {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  top: auto;
  left: auto;
  letter-spacing: 0;
  line-height: normal;
  position: static;
  width: auto;
  margin-bottom:24px;
}

.stats .content-2 {
  position: static; /* remove absolute positioning */
  width: auto;
  top: auto;
  left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.stats .level {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.stats .bar {
  background-color: #1c1c1c;
  border-radius: 6px;
  flex: 1;
  flex-grow: 1;
  height: 12px;
  overflow: hidden;
  position: static;
}

.stats .progress {
  background-color: #60cc04;
  border-radius: 10px;
  height: 12px;
  width: fit-content;
}

.stats .div-3 {
  align-self: stretch;
  background-color: #2a2a2a;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 12px;
  height: 108px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stats .frame-12 {
  align-items: center;
  display: flex;
  gap: 21px;
  height: 36px;
  left: 24px;
  position: static;
  top: 56px;
  width: 264px;
}

.stats .level-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #ffffff;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  width: 30px;
}

.stats .frame-13 {
  align-self: stretch;
  position: relative;
  width: 26px;
}

.stats .frame-14 {
  align-self: stretch;
  position: relative;
  width: 25px;
}

.stats .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.stats .content-3 {
  align-items: center;
  display: flex;
  gap: 16px;

  position: static;
  top: auto;
  left: auto;

}

.stats .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.stats .label-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
